---
import Default from '@astrojs/starlight/components/Footer.astro';
---

<Default />
<div class="copyright">
  © BIVROST TECHONOLOGIES Company Limited / 深圳市彼络科技有限公司 · 通讯协议
  v1.19.6 · 联系电话：18824672282
</div>

<style>
  .copyright {
    margin-top: 1.5rem;
    padding-top: 1rem;
    border-top: 1px solid var(--sl-color-hairline);
    font-size: var(--sl-text-xs);
    color: var(--sl-color-gray-3);
    text-align: center;
  }
</style>
